.app-page{
    background-color: #cccccc;
    height:100vh;
    overflow: hidden;
}
.btnCalculate{
    background-color:#8347e5;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 36px;
    font-size: 20px;
    
}
@media (max-width: 1799px) {
   
 
}

@media (max-width: 1365px) {
    .form-group{
        height: 50px;
    }
}

@media (max-width: 1169px) {}

@media (max-width: 1023px) {

}


@media (max-width: 767px) {

}


@media (max-width: 639px) {

}

@media (max-width: 479px) {

}


#Calc{
    
    border-radius: 50px;
    background: black;
    padding: 20px;
}

