body{
  margin:0;
  padding: 0;
  font-size: 16px;
 background: #f8f7f7;
  color: #565151;
   font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5{

}
body.animate {
background:#8347e5;
overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6, a{
font-family: 'Lexend', sans-serif;
color:#ffffff;
}

h1{
font-size:80px;
font-weight:800;
line-height:90px;
}

h2{
font-size:50px;
font-weight:700;
line-height:60px;
}

h3{
font-size:40px;
font-weight:700;
line-height:50px;
}

h4{
font-size:30px;
font-weight:400;
line-height:40px;
font-family: 'Lexend', sans-serif;
}
/*font-family: 'Roboto', sans-serif;*/

body a:hover{
text-decoration: none;
color:#8347e5;
}

ul,li{
 padding: 0;
 margin: 0;
 list-style: none;
}
.toplist ul{
   display: flex;
 justify-content: center;
 margin-bottom: 30px;
}
.toplist ul li{
 margin: 0px 10px;
}
.tophiringmin{
   border-radius: 12px;
 background-color: rgb(0, 0, 0);
 box-shadow: 0 16px 56px 0 rgba(140, 32, 234, 0.1);
 padding: 20px;

}
.maincontent h1{
 text-align: center;
 color: #fff;
 font-size: 46px;
 font-weight: 900;
}
.himininput ul li p{
margin-bottom: 0px;
}
.himininput ul li h5{
background: #8347e5;
 color: #ffff;
 padding: 7px 18px;
 font-size: 16px;
 border-radius: 12px;
 margin-bottom: 0px;
 font-weight: 600;
}
.himininput ul li{
      display: flex;
 justify-content: space-between;
 background: #fafafa;
 margin-bottom: 18px;
 padding: 8px 10px;
 border-radius: 5px;
 align-items: center;
 box-shadow: 0 11px 54px 0 rgb(0 0 0 / 11%);
     flex-wrap: wrap;
}
.hircontent{
 border: 1px solid #000000;
 padding: 20px;
 margin-bottom: 20px;
 border-radius: 20px;
}
.hirbuton{
   background: #8347e5;
 color: #fff;
 border: none;
 padding: 10px 19px;
 display: block;
 width: 100%;
 border-radius: 21px;
 margin-top: 20px;
 cursor: pointer;
}
.hirbuton:hover{
background: #9c5ed8;
transform: .3s all;
}
.cmnbtn{
background: #8347e5;
 color: #fff;
 border: none;
 padding: 10px 32px;
 border-radius: 21px;
 margin-top: 20px;
 cursor: pointer;
}
.app__rewards .cmnbtn{
margin: 0px 8px;
}
.hirinput{
   display: flex;
}
.hirinput input{
   border-radius: 10px 0 0 10px;
 height: 49px;
 border: 1px solid #5733c9;
}
.hirinput  span{
          background: #8347e5;
 color: #fff;
 border-radius: 0px 10px 10px 0px;
 display: flex;
 align-items: center;
 padding: 0px 20px;
}
.chekboxcustom{
margin-top: 15px;
}
.logohead{
   display: flex;
 justify-content: center;
 margin-bottom: 35px;
}
.logohead img{

 width: 117px;
     margin-top: -39px;
     margin-left: 10px;
}
.app__interactstatsreward{
   display: flex;
 justify-content: space-between;
 background: transparent;
 padding: 8px 10px;
 border-radius: 5px;
 align-items: center;
 box-shadow: 0 11px 54px 0 rgb(0 0 0 / 11%);
 margin-top: 24px;
 color: #6d0eb1;
 border: 1px solid #5326b1;
}
.app__interactstatsreward p{
   margin-bottom: 0;
 font-size: 25px;
 font-weight: 700;
}
.app__interactstatsreward h5{
margin-bottom: 0;
 color: #ffffff;
 padding: 5px 8px;
 border-radius: 10px;
background: #8347e5;
}
.app__rewards{
text-align: center;
margin: 20px 0px;
}
.statistics.hircontent h2{
color: #f9f9f9;
 font-size: 25px;
 border-bottom: 1px solid #6f29b1;
 margin-bottom: 25px;
 padding-bottom: 15px;

}
.mainminediv{
padding: 50px 0px;
background-image: url(./image/oil-banner.jpg);
background-size: cover;
padding-top: 0px;
background-attachment: fixed;
}
.toplist ul li a{
 padding: 2px 12px;
 /* border: 1px solid gray; */
 display: inline-block;
 color: #fff;
 border-radius: 5px;
 font-size: 16px;
 font-weight: 500;
}
.app__referralinput{
 height: 42px;
 border: 1px solid #5733c9;
 background-color: transparent !important;
}
.referrallink.hircontent h2{
   font-size: 25px;
 text-align: center;
background: #8347e5;
 color: #fff;
 padding: 7px 9px;
 font-weight: 400;
}
.referrallink.hircontent p{
   text-align: center;
 font-size: 14px;
 color: #6d0eb1;
 margin-top: 8px;
}
.modal{
 background: #8021bf !important;
}
.modalcontent h2{
 text-align: center;
 color: #62208f;
 font-size: 32px;
 font-weight: 600;
}
.colrpurple{
  color: #62208f;
}
button.close:focus{
outline: none;
}
button.close:hover{
opacity: 1;
}
.chekboxcustom span{
font-weight: 500;
}
button.close{
   position: absolute;
 right: 0;
 top: 15px;
 right: 20px;
 background: #802ebf;
 opacity: 1;
 width: 35px;
 height: 35px;
 border-radius: 50%;
 color: #fff;
 font-size: 32px;
 font-weight: 200;
 cursor: pointer;
 z-index: 9;
}
ul.footerlist{
 display: flex;
 justify-content: center;
 background: #fff;
 /* border: 1px solid #4b26b2; */
 border-radius: 20px;
 margin-top: 20px;
 padding: 6px 10px;
 box-shadow: 0 16px 56px 0 rgb(0 0 0 / 10%);
}
ul.footerlist li{
 width: 53px;
 height: 53px;
 margin: 0px 12px;
}
ul.footerlist li a {
 display: inline-block;
}
.cmnbtn:hover{
background: #9c5ed8;
transform: .3s all;
}
.businquery {
 text-align: center;
 margin-top: 15px;
 font-size: 18px;
 text-decoration: underline;
}
.businquery a{
   color: #fff;
 text-align: center;
}
.businquery a:hover{
color: #6f29b1;
}
.connectbtn{
  background: #ffffff;
 color: #8347e5;
 border: none;
 padding: 10px 35px;
 display: block;
 /* width: 100%; */
 border-radius: 21px;
 /* margin-top: 20px; */
 cursor: pointer;

}

/*.connectbtn:hover{
 background: #9c5ed8;
 transform: .3s all;
}*/
.adsbox.hircontent{
height: 200px;
}
.footerlist.ftbottom{
     position: fixed;
 right: 0;
 bottom: 15px;
 display: block;
 border-radius: 8px 0px 0px 8px;
 padding: 6px 0px;
}
.footerlist.ftbottom li{
         margin: 10px 8px;
 width: 32px;
 height: 32px;
}
header{
      background: #000000;
 padding: 22px 0px;
 z-index: 9;
 position: relative;
}
.topnav{
     display: flex;
 align-items: center;
 height: 100%;
}
.topnav ul{
     display: flex;
 width: 100%;
 color: #ffff;
}
.topnav li {
 margin: 0px 22px;
}
.topnav a {
   font-size: 16px;
 font-weight: 500;
 color: #fff;
}
.logobrand img{
 width: 180px;
}
.container.contentsection{
padding-top: 50px;
}

.row.whitepaperrow{
  justify-content: center;
}



/*collect btn effect*/
@keyframes bang {
from {
 transform: translate3d(0, 0, 0);
 opacity: 1;
}
}
.hoverme {
width: 240px;
margin: 150px auto 0;
text-align: center;
padding: 10px 0;
cursor: pointer;
position: relative;
}
.hoverme span {
color: #333;
font-size: 0.9em;
}
.hoverme i {
position: absolute;
display: block;
left: 50%;
top: 0;
width: 3px;
height: 8px;
background: red;
opacity: 0;
}

/*roadmap*/


.shapes {
position: relative;
height: 100vh;
width: 100vw;
/*   overflow: hidden; */
}
.shapes .shape {
will-change: transform;
position: absolute;
border-radius: 50%;
}
.shapes .shape.shape-1 {

background:#8347e5;
box-shadow:inset -25px -25px 50px #152758, inset 25px 25px 50px #000000;
width: 1400px;
height: 1400px;
margin: -700px 0 0 -700px;
}
.shapes .shape.shape-2 {
background:#8347e5;
box-shadow:inset -25px -25px 50px #152758, inset 25px 25px 50px #000000;
width: 1100px;
height: 1100px;
margin: -550px 0 0 -550px;
}
.shapes .shape.shape-3 {

background:#8347e5;
box-shadow:inset -25px -25px 50px #152758, inset 25px 25px 50px #000000;
width: 800px;
height: 800px;
margin: -400px 0 0 -400px;
}
.title.w-50 p{
 color: #fff;
}



.background{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
z-index:1;
}





.roadmap-section{
height:1400px;
z-index:10;
position:relative;
}


.title-container{
display:flex;
padding:100px 0px;
jusify-content:center;
align-items:center;
}

.years ul{
width:100%;
display:inline-flex;
justify-content:flex-end;
}

.years ul li{
padding-right:50px;
width:auto;
font-family: 'Lexend', sans-serif;
color: #c6c5c5;
font-size:20px;
font-weight:400;
line-height:30px;
transition:all 0.8s ease;
cursor:pointer;
}

.years ul li:nth-child(last){
padding:0;
}

.years ul li:hover, .years ul .active{
color:#FFFFFF;
}

.roadmap-content{
width:100%;
height:auto;
padding: 60px 0px;
display:flex;
}









.timeline {
padding: 50px;
}
.timeline ul {
padding: 0;
}
.timeline .default-line {
content: "";
position: absolute;
left: 50%;
width: 4px;
background: #bdc3c7;
height: 1500px;
}
.timeline .draw-line {
width: 4px;
height: 0;
position: absolute;
left: 50%;
 background-image: linear-gradient( 
180deg
, #e3d2ff, #938aca 51%, #673dad);
}
.timeline ul li {
list-style-type: none;
position: relative;
width: 100%;
margin: 0 auto;
height: 280px;
background: transparent;
}
.timeline ul li.in-view {
transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
}
.timeline ul li.in-view::before {
 content: "";
 position: absolute;
 left: 50%;
 top: 0;
 transform: translateX(-50%);
 width: 42px;
 height: 42px;
 border-radius: 50%;
 background-color: #6c3fc8;
 background-size: 20px 20px;
 background-repeat: no-repeat;
 background-position: center;
 transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
 border: 2px solid #d1bdf2;
}
.timeline ul li::before {
content: "";
position: absolute;
left: 50%;
top: 0;
transform: translateX(-50%);
width: 12px;
height: 12px;
border-radius: 50%;
background: inherit;
background: #bdc3c7;
transition: all 0.4s ease-in-out;
}

/*.timeline ul li:nth-child(odd) {
float: left;
}
.timeline ul li:nth-child(even) {
float: right;
}*/
.timct p{
color: #fff;
opacity: .2;
}
.timct{
 width: 50%;
 padding: 0px 23px;

}
.in-view .timct p{
opacity: 1;
}

@media(max-width:576px) {
.timeline .default-line{
        right: 9px;
 left: auto;
}
.timeline .draw-line{
   right: 9px;
 left: auto;
}
.timeline ul li.in-view::before{
         right: -43px;
 left: auto;
}
.timeline ul li::before{
     left: auto;
 top: 0;
 right: -14px;
}
.timeline{
     padding: 13px;
}
.timct{
 width: 100%;
 padding: 0px;
}
.title-container{
 display: block;
}
.w-50 {
  width: 100%!important; 
}
.timct h2{
 font-size: 32px;
}
.shapes .shape.shape-1 {

 width: 938px;

}
.shapes .shape.shape-2 {

 width: 738px;

}
.shapes .shape.shape-3 {

 width: 547px;

}
}

/*whitepaper css*/
.allwhitepaper{
     padding-top: 149px;
 z-index: 9999999;
 color: #fff;
 position: relative;
 width: 90%;
}

.allwhitepaper p{
 font-size: 23px;
}
.allwhitepaper h2{
 font-size: 40px;
}
.headintro{
background: #00000033;
 padding: 20px;
 margin-bottom: 35px;
 border-radius: 0px 75px 0px 0px;
}
.faqsection p{
 color: #fff;
}
.faqsection{
     background: #6939b7;
 padding: 50px 0px;
}
.faqbox{
    border-bottom: 1px solid gray;
 margin-bottom: 20px;
}
/*whitepaper css end*/

@media (min-width: 767px){
  .modal-dialog {
      max-width: 80%;
      margin: 1.75rem auto;
  }
  }
  @media(max-width:767) {
    body {
      font-size: 16px;
    }
  
  
  }
  
  @media(max-width:576px) {
  .app__rewards .cmnbtn{
    margin: 0px;
  }
  .cmnbtn{
        font-size: 14px;
      font-weight: 600;
          padding: 6px 22px;
  }
  .app__interactstatsreward h5{
    font-size: 15px;
  }
  .app__interactstatsreward p{
    font-size: 16px;
  }
  .himininput ul li h5{
    font-size: 14px;
  }
  .maincontent h1{
    font-size: 40px;
  }
  .logohead img {
      transform: rotate( 
  43deg
   );
      width: 43px;
      height: 40px;
      margin-top: 5px;
  }
  .toplist ul{
    display: block;
        width: 100%;
      text-align: center;
      margin-bottom: 20px;
  }
  .toplist ul li{
    margin-bottom: 10px;
  }
  .toplist ul li a{
        text-align: center;
      width: 200px;
  }
  .modalcontent h2{
    font-size: 26px;
  }
  button.close{
        top: 8px;
      right: 8px;
  }
  .modalcontent{
    padding-top: 35px;
  }
  .tophiringmin{
    padding: 15px;
  }
  ul.footerlist li{
        width: 40px;
      height: 40px;
  }
  .connectbtn{
    margin: 0 auto;
      margin-bottom: 20px;
      position: initial;
  }
    .topnav li {
      margin: 16px 3px;
      border-bottom: 1px solid #bfbdbd87;
      padding-bottom: 11px;
          text-align: center;
  }
  .logobrand{
    text-align: center;
  }
  .topnav{
    display: block;
  }
  .topnav ul{
    display: block;
  }
  
  }
